/****** Global style *******/

@import url('https://fonts.googleapis.com/css?family=Roboto:400');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




html {
    font-size: 100%;
}

:root {
    /* colors */
    --primary-100: #e2e0ff;
    --primary-200: #c1beff;
    --primary-300: #a29dff;
    --primary-400: #837dff;
    --primary-500: #645cff;
    --primary-600: #504acc;
    --primary-700: #3c3799;
    --primary-800: #282566;
    --primary-900: #141233;

    /* grey */
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;

    /* Rest of the colors */
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;

    /* fonts */
    --heading-font: 'Roboto', sans-serif;
    --body-font: 'Roboto', sans-serif;

    --backgroud-color: var(--grey-50);
    --text-color: var(--grey-900);

    --small-text: 0.875rem;
    --extra-small-text: 0.7em;

    /* Other variables*/
    --border-radius: 0.25rem;
    --letter-spacing: 1px;
    --transition: all 0.3s linear;
    --max-width: 1120px;
    --fixed-width: 600px;

    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);

}

body {
    background: var(--backgroud-color);
    font-family: var(--body-font);
    font-weight: 400;
    line-height: 1.75;
    color: var(--text-color);
}

p {
    margin-bottom: 1.5rem;
    max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: var(--heading-font);
    font-weight: 400;
    line-height: 1.3;
    text-transform: capitalize;
}

h1 {
    margin-top: 0;
    font-size: 2.488rem;
}

h2 {
    font-size: 2.074rem;
}

h3 {
    font-size: 1.728rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.2rem;
}

small,
.text_small {
    font-size: var(--small-text);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* buttons */

.btn {
    cursor: pointer;
    color: var(--white);
    background: var(--primary-500);
    border: transparent;
    border-radius: var(--border-radius);
    letter-spacing: var(--letter-spacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize;
    display: inline-block;
}

.btn:hover {
    background: var(--primary-700);
    box-shadow: var(--shadow-3);
}

.btn-hipster {
    color: var(--primary-500);
    background: var(--primary-200);
}

.btn-hipster:hover {
    color: var(--primary-200);
    background: var(--primary-700);
}

.btn-block {
    width: 100%;
}

/* alerts */
.alert {
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border-color: transparent;
    border-radius: var(--border-radius);
}

.alert-danger {
    color: var(--red-dark);
    background: var(--red-light);
}

.alert-success {
    color: var(--green-dark);
    background: var(--green-light);
}

/* form */

.form {
    width: 90vw;
    max-width: var(--fixed-width);
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-2);
    padding: 2rem 2.5rem;
    margin: 3rem auto;
}

.form-label {
    display: block;
    font-size: var(--small-text);
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid var(--grey-300);
    border-radius: var(--border-radius);
    background: var(--backgroud-color);
    border: 1px solid var(--grey-200);
}

.form-row {
    margin-bottom: 1rem;
}

.form-textarea {
    height: 7rem;
}

::placeholder {
    color: var(--grey-500);
}

.form-alert {
    color: var(--red-dark);
    font-size: var(--small-text);
    text-transform: capitalize;
}

/* loading */

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.loading {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    margin-top: 10rem;
    border-radius: 50%;
    border: 3px solid var(--grey-400);
    border-top-color: var(--primary-700);
}

/* title */

.title {
    text-align: center;
}

.title h2 {
    margin-bottom: 0.25rem;
}

.title-underline {
    width: 7rem;
    background: var(--primary-500);
    height: 0.25rem;
    margin: 0 auto;
}



/****** Project style *******/

/* navbar */

.navbar {
    position: relative;
    background: var(--backgroud-color);
    border-bottom: 1px solid var(--grey-800);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-img-container {
    width: 100%;
    text-align: center;
}

.navbar-img {
    height: 50px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .navbar-img-container {
        text-align: left;
    }
}

@keyframes avatar-spinner {
    to {
        transform: rotate(360deg);
    }
}

.avatar-container {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid var(--primary-600);
    padding: 2px 2px;
    position: fixed;
    right: 2rem;
    transition: var(--transition);
}

.avatar-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--grey-800);
}

.avatar-container:hover {
    cursor: pointer;
    border: 2px solid var(--primary-200);
}

.signer-container {
    display: flex;
    align-items: center;
    height: 100%;
    position: fixed;
    right: 2rem;
    transition: var(--transition);
    /* border: 1px solid var(--grey-800); */
}

#btn-sign-in {
    border: 1px solid var(--primary-500);
}

#btn-sign-in:hover {
    box-shadow: none;
    background: transparent;
    border: 1px solid var(--primary-500);
    color: var(--primary-500);
}

.sign-up-container {
    height: 50px;
    display: table;
    margin-right: 1rem;
}

#btn-sign-up {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--grey-800)
}